* { /* Gælder alt på hele siden */
    box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen, padding mv. */
}

/* Ovenstående kode kan give problemer ved nogle 3. parts scripts man henter. Men det gør det nemmere at forstå og lave kodning når man starter. */

html {
    overflow-y: scroll;
}

body {
    margin: 0; /* Ingen kanter i siden af browser */
}

h1, h2, h3, h4, h5, h6 {
    margin: 0; /* Ingen ydre margen fra overskrifter */
    padding: 0; /* Ingen indre margen fra overskrifter */
}

ul, ol {
    margin: 2px 10px 2px 10px; /* Mindre margen på punkter */
    padding: 0; /* Ingen indre margen fra lister */
    list-style-position: inside; /* List punkter står på linje */
}

li {
    margin: 0; /* Ingen ydre margen fra listpunkter */
}

p {
    margin: 0; /* Ingen ydre margen fra paragraffer */
    padding: 0; /* Ingen indre margen fra paragraffer */
}

/* Sikrer billeder er responsive */
img {
    display: block; /* Billeder er et element (laver linjeskift) */
    max-width: 100%; /* Bredde må maks fylde 100% */
    height: auto; /* Højden skal tilpasse sig */
}




.imageTop{
    width: 100%;
    height: 100vw;
    background-image: url("../img/webudvikler/website-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.imageTop > .infoContainer{
    position: absolute;
    left: 8vw;
    top: 50%;
    transform: translateY(-50%);
}

.imageTop > .infoContainer > h1{
    color: #ffffff;
    font-size: 10.6667vw;
    font-weight: bold;
}

.imageTop > .infoContainer > #typeOutHead{
    color: #ffffff;
    font-size: 2.9333vw;
    font-weight: bold;
    width: 61vw;
    height: 7vw;
}

.skillsSection{
    width: 100%;
    height: 180vw;
    background-color: #eee;
    display: grid;
    grid-template-rows: 2fr 140vw 1fr;
}

.fadeOut{
    height: 47vw;
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: linear-gradient(#eee 10%, rgba(0, 0, 0, 0) 100%);
    z-index: 8;
}

.fadeOut.top{
    margin-bottom: auto;
}

.fadeOut.bottom{
    margin-top: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, #eee 90%);
}

.skillsSection > h3{
    font-size: 7.5vw;
    color: #2A3344;
}

.blueLine{
    grid-row: 2/3;
    grid-column: 1/2;
    height: 100%;
    width: 2.8vw;
    background-color: #2A3344;
    margin: auto;
}

.skillsContainer{
    grid-row: 2/3;
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.skillsContainer > div{
    width: 100%;
    height: 100%;
    animation: 15s running infinite skillAnimation linear;
}

.skillsSection > p{
    grid-row: 3/4;
    grid-column: 1/2;
    font-size: 2.9333vw;
    color: #2A3344;
    font-weight: bold;
    margin-bottom: 4vw;
}

@keyframes skillAnimation {
    0% {margin-top: 0}

    12% {margin-top: 0}
    14% {margin-top: -140vw}

    26% {margin-top: -140vw}
    28% {margin-top: -280vw}

    40% {margin-top: -280vw}
    42% {margin-top: -420vw}

    54% {margin-top: -420vw}
    56% {margin-top: -560vw}

    68% {margin-top: -560vw}
    70% {margin-top: -700vw}

    82% {margin-top: -700vw}
    84% {margin-top: -840vw}

    98% {margin-top: -840vw}
    100% {margin-top: -980vw}
}

.skill{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillImage{
    height: 46vw;
    width: 46vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #eeeeee;
}

.skillImage.html{
    background-image: url("../img/webudvikler/html5.png");
}

.skillImage.scss{
    height: 35vw;
    background-position: center bottom;
    background-image: url("../img/webudvikler/sass.png");
}

.skillImage.java{
    background-image: url("../img/webudvikler/java.jpg");
    width: 38vw;
}

.skillImage.jquery{
    background-image: url("../img/webudvikler/jquery.png");
    background-position: center bottom;
    width: 40vw;
    border-bottom: 2vw solid #eeeeee;
}

.skillImage.gulp{
    background-image: url("../img/webudvikler/gulp.jpg");
    width: 38vw;
}

.skillImage.github{
    background-image: url("../img/webudvikler/github.png");
    width: 44vw;
}

.skillImage.bootstrap{
    background-image: url("../img/webudvikler/bootstrap.png");
    height: 38vw;
}

@media screen and (min-width: 568px){
    .imageTop{
        width: 100%;
        height: 32vw;
        background-image: url("../img/webudvikler/website-bg1.jpg");
    }

    .imageTop > .infoContainer{
        left: 15.3125vw;
    }

    .imageTop > .infoContainer > h1{
        font-size: 4.1666vw;
    }

    .imageTop > .infoContainer > #typeOutHead{
        font-size: 1.25vw;
        width: 26.5vw;
        height: 2.86vw;
    }


    .skillsSection{
        height: 45vw;
        grid-template-rows: 2fr 35vw 1fr;
    }

    .fadeOut{
        height: 10vw;
    }

    .skillsSection > h3{
        font-size: 2vw;
    }

    .blueLine{
        width: 1vw;
    }

    .skillsSection > p{
        font-size: 1vw;
        margin: auto 0;
    }

    @keyframes skillAnimation {
        0% {margin-top: 0}

        12% {margin-top: 0}
        14% {margin-top: -35vw}

        26% {margin-top: -35vw}
        28% {margin-top: -70vw}

        40% {margin-top: -70vw}
        42% {margin-top: -105vw}

        54% {margin-top: -105vw}
        56% {margin-top: -140vw}

        68% {margin-top: -140vw}
        70% {margin-top: -175vw}

        82% {margin-top: -175vw}
        84% {margin-top: -210vw}

        98% {margin-top: -210vw}
        100% {margin-top: -245vw}
    }

    .skill{
    }

    .skillImage{
        height: 10vw;
        width: 10vw;
    }

    .skillImage.html{
    }

    .skillImage.scss{
        height: 7.5vw;
    }

    .skillImage.java{
        width: 8vw;
    }

    .skillImage.jquery{
        width: 8vw;
        border-bottom: 0.5vw solid #eeeeee;
    }

    .skillImage.gulp{
        width: 8vw;
    }

    .skillImage.github{
        width: 9vw;
    }

    .skillImage.bootstrap{
        background-image: url("../img/webudvikler/bootstrap.png");
        height: 8vw;
    }









}






















