body{
    font-family: Arial, sans-serif;
}

a{
    text-decoration: none !important;
}


.button-bg-sky{
    background-image: url("../img/button-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    font-size: 3.2vw;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -0.1vw;
    padding: 1.6vw 5.333vw;
    border-radius: 1.0666vw;
    text-decoration: none;
    transition: 0.05s;
}

.relative{
    position: relative;
    height: 100%;
    width: 100%;
}

.button-bg-sky:hover{
    opacity: 0.8;
    color: white;
    transition: none;
}

.hide{
    display: none;
}

.noOpacity{
    opacity: 0;
    pointer-events: none
}

.notClickable{
    pointer-events: none;
}

.clickable{
    cursor: pointer;
}


@media screen and (min-width: 568px){
    .button-bg-sky{
        font-size: 1.26vw;
        letter-spacing: -0.03vw;
        padding: 0.586vw 1.759vw;
        border-radius: 0.5025vw;
    }
}